<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>術後叮嚀</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<body class="container-fluid">
    <div class="row mt-3">
        <div class="col-12">
            <h4>
                手術前（門診手術） 注意事項
            </h4>
            <hr>
            <ol>
                <li>手術當天請攜帶手術通知單、手術/麻醉同意書至醫學美容中心報到。</li>
                <li>手術前請先在家將身上金屬飾品、貴重物品、指甲油、彩妝、隱形眼鏡去除。</li>
                <li>手術當天請穿著輕便衣服，眼部手術請自備墨鏡。</li>
                <li>手術採局部麻醉，無須禁食，無須住院。</li>
                <li>術後可於休息室冰敷觀察，無不適即可返家。</li>
                <li>本院無提供刷卡服務，請自備現金或提款卡。</li>
                <li>請依約定時間準時到達，若不克前來，請至少提前一天來電告知。</li>
            </ol>
        </div>

        <div class="col-12 mt-3">
            <h4>
                黑色素瘤手術後護理措施
            </h4>
            <hr>
            <ul>
                <li>飲食護理：術後1～2天予進食高蛋白、高維他命等營養豐富的流質、半流質食物，避免進食硬的食物，减少咀嚼肌運動，以免加重眼部傷口疼痛或影響傷口癒合，術後3天后可多食纖維素含量高的蔬菜如芹菜、韭菜等，多食水果，以促進腸蠕動，防止便秘。</li>
                <li>敷料的觀察護理：術後予繃帶加壓包紮4～5天，以達到眼球制動，預防切口裂開、眼內出血，要保持繃帶固定良好及眼部敷料清潔乾燥，如繃帶松脫、敷料滲濕應及時更換。</li>
                <li>疼痛的觀察護理：術後因手術創傷，早期可有眼瞼腫脹、結膜水腫、患眼疼痛及偶見噁心、嘔吐等症狀，向患者及家屬做好解釋工作，注意觀察術後眼痛發生的時間、性質，評估疼痛是由於術中牽拉眼外肌、角膜上皮損傷、縫線觸及角膜引起還是由於繃帶加壓包紮造成的不適，根據疼痛的原因及時調整繃帶或應用止痛藥物緩解疼痛。如術後3天后眼痛加劇，要警惕眼內出血等併發症的發生，應及時報告醫生及時處理。</li>
                <li>併發症的觀察護理：眼內出血及繼發性視網膜脫離是最主要的併發症。密切瞭解患者有無眼前紅色影子漂動、視力下降等情况，如出現上述玻璃體出血症狀時，應立即給予患者取半坐臥比特，使視網膜下血液由於重力作用向下方積聚，防止黃斑區視網膜前膜形成並改善視野範圍，並囑患者减少眼球轉動，防止視網膜下活動性出血，並注意血壓的變化。按醫囑應用中西醫藥物予止血、活血化瘀治療。如出現眼前固定黑影、閃光、視力急劇下降，應警惕繼發性視網膜脫離的發生。囑患者除進食、上廁所及必要的檢查外應多臥床休息，注意術眼的保護，勿晃動頭部、揉碰術眼，協助患者作好各項生活護理。</li>
                <li>健康教育：手術後定期行放療、化療以及生物治療仍是降低復發率及轉移率的必要措施。告知患者術後放療、化療以及生物治療的必要性，並指導患者回院進行放療、化療或免疫治療的具體時間，並留下聯繫電話或地址。指導患者合理飲食，宜進高蛋白、高碳水化合物、高維他命、清淡、易消化的食物，加强營養，積極鍛練身體，增強體質，提高抵抗力，有利於疾病的康復。</li>
                <li>出院指導及隨訪：指導患者出院1周後回院複查，進行視力、眼壓、眼底等檢查，定期眼部、腹部B超檢查，判斷腫瘤有無復發、轉移。囑患者注意術眼衛生，勿碰撞術眼，1年內避免劇烈運動及重體力勞動，出現視力下降、眼前閃光、黑影要立即到醫院就診。術後隨訪至少不短於5年，最好能做到終身隨訪，並建立隨訪檔案，通過電話、通信等方法做到定期隨訪，盡可能詳細瞭解患者情况，解决存在問題，提高其生存質量。</li>
            </ul>
        </div>

        <div class="col-12 mt-3">
            <h4>
                雷射治療注意事項
            </h4>
            <hr>
            <p>提醒：</p>
            <p>某些患者因體質關係或防曬不夠徹底，雷射後導致皮膚產生嚴重的色素沉澱，俗稱「反黑」，此時須返診配合藥物治療，搭配美白產品、持續防曬，即可慢慢恢復。</p>
            <p>照顧方法：</p>
            <ol>
                <li>傷口灼熱疼痛，可冰敷減輕症狀。</li>
                <li>傷口塗抹抗生素藥膏，每日2-3次，保持傷口及痂皮的滋潤，誤讓痂皮乾燥裂開，勿用手剝除痂皮，痂皮約7-14天會自動脫落，傷口痊癒後才可使用保養品。</li>
                <li>前三天避免碰生水(自來水)，若有組織液、血水或陳舊藥膏需清潔，請使用生理食鹽水或煮沸後的冷開水，以棉花棒沾濕清潔。</li>
                <li>第4天可洗臉，動作需輕柔，水溫勿過高，洗面乳搓成泡沫使用，盡量避開傷口，最後以乾淨毛巾壓乾。</li>
                <li>痂皮脫落後，傷口剛開始會呈現微粉紅色的色素沉澱，此時仍須持續保濕及防曬，直到膚色恢復。(保濕可使用玻尿酸、凡士林或中性無色素香精的乳液)。</li>
                <li>防曬需做一個月，若有傷口或痂皮時，外出請戴口罩、帽子或撐傘，痂皮脫落及傷口恢復後外出可用SPF30以上的防曬乳或化淡妝。</li>
                <li>雷射後應避免泡溫泉、游泳、劇烈運動、大量流汗，飲食應避免煙、酒及辛辣刺激性的食物，另外感光性食物也需減少(例如：香菜、芹菜、九層塔等)。</li>
            </ol>
        </div>

        <div class="col-12 mt-3">
            <h4>
                玻尿酸注射後注意事項
            </h4>
            <hr>
            <ol>
                <li>注射後24小時內可濕冷敷2-3次，以生理食鹽水或煮沸冷開水沾濕化妝棉濕敷15~20分鐘，或以保濕面膜代替。</li>
                <li>注射後僅有細微針孔，可立即上班，不影響外觀。</li>
                <li>注射後若有輕微發紅、腫脹、灼熱、搔癢或有柔軟觸感、緊繃感皆屬正常現象，這些症狀一般會在5天內消失。</li>
                <li>注射後若有瘀青情形，可自費購買退瘀藥膏使用，加速瘀青消除。</li>
                <li>淚溝、鼻樑、唇部及皮薄的部位腫脹情形會持續較久，有些人會腫脹至一星期，看起來比較不自然，請耐心等待，此時並非最終外觀效果。</li>
                <li>注射後請勿接觸過熱(泡澡、烤箱、陽光曝曬、劇烈運動)或過冷(游泳)。</li>
                <li>玻尿酸注射是可逆的，所產生的效果皆是暫時的，當玻尿酸被吸收後即可恢復原狀，一般維持6-12個月。</li>
                <li>若有任何不適，請回診。</li>
            </ol>
        </div>
    </div>

 
    <p class="mb-0">出處</p>
    <p><a href="https://wwwv.tsgh.ndmctsgh.edu.tw/unit/10067/17736">https://wwwv.tsgh.ndmctsgh.edu.tw/unit/10067/17736</a></p>
</body>

</html>